name: CI

# Controls when the action will run. 
on:
  [push, pull_request, workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: TASBEFlowAnalytics
      - uses: actions/checkout@v2
        with:
          repository: TASBE/TASBEFlowAnalytics-Tutorial
          path: TASBEFlowAnalytics-Tutorial
      - uses: joergbrech/moxunit-action@master
        with:
          tests: TASBEFlowAnalytics/tests
          src: TASBEFlowAnalytics/code TASBEFlowAnalytics/code/utils TASBEFlowAnalytics/library_code TASBEFlowAnalytics/library_code/jsonlab TASBEFlowAnalytics/test_templates TASBEFlowAnalytics/gmdistribution TASBEFlowAnalytics/matlab_compat
          pkg: io      
